In [1]:
import json
import csv
import pandas as pd

In [4]:
def get_all_businessID():
    business_list = []
    with open('/Users/wanlima/Documents/python/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json') as businessfile:
        lines = businessfile.readlines()
        for line in lines:
            business_list.append(json.loads(line))
    df_businesses = pd.DataFrame(business_list)
    return df_businesses

def get_all_users():
    users_list = []
    with open('/Users/wanlima/Documents/python/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_user.json') as userfile:
        lines = userfile.readlines()
        for line in lines:
            users_list.append(json.loads(line))
    df_users = pd.DataFrame(users_list)
    return df_users

def get_all_reviews():    
    reviews_list = []
    with open('/Users/wanlima/Documents/python/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json') as reviewfile:
        lines = reviewfile.readlines()
        for line in lines:
            reviews_list.append(json.loads(line))
    df_reviews = pd.DataFrame(reviews_list)
    return df_reviews

# business

In [3]:
df_businesses = get_all_businessID() # take median time

In [36]:
states = ['PA','NC','WI','IL','NV','AZ'] # only focus on these 6 states
df_business_six = df_businesses[df_businesses['state'].apply(lambda x: x in states)]
ids = list(df_business_six['business_id'])

In [82]:
df_business_six.drop(['type','hours','latitude','longitude','neighborhoods'], axis=1).to_csv('../data/business.csv',index=False)

In [6]:
df_businesses.head(2)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Accepts Credit Cards': True, 'Drive-Thru': F...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Wednesday': {'open': '11:00', 'close': '21:0...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business
1,"{'Accepts Credit Cards': True, 'Good For Group...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business

# user

In [79]:
# df_users = get_all_users()
df_users.drop(['type'], axis=1).to_csv('../data/user.csv',index=False)

In [78]:
df_users.head(2)

,average_stars,compliments,elite,fans,friends,name,review_count,type,user_id,votes,yelping_since
0,4.14,"{'profile': 8, 'writer': 9, 'cute': 15, 'plain...","[2005, 2006]",69,"[rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...",Russel,108,user,18kPq7GPye-YQ3LyKyAZPw,"{'funny': 167, 'cool': 246, 'useful': 282}",2004-10
1,3.67,"{'profile': 117, 'writer': 346, 'list': 38, 'c...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",1345,"[18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...",Jeremy,1292,user,rpOyqD_893cqmDAtJLbdog,"{'funny': 8399, 'cool': 12091, 'useful': 15242}",2004-10

# review

In [9]:
df_reviews = get_all_reviews() # take long time

In [10]:
df_reviews.head(2)

,business_id,date,review_id,stars,text,type,user_id,votes
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'funny': 0, 'cool': 0, 'useful': 0}"
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'funny': 0, 'cool': 0, 'useful': 0}"

In [ ]:
df_reviews_of_business = df_reviews[df_reviews['business_id'].apply(lambda x: x in ids)]

In [75]:
df_reviews_of_business.drop(['type','text'],axis=1).to_csv('../data/reviews.csv',index=False)